---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

img[alt="small_video"] { 
    max-width:  400px; 
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#bloglink{
    text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#pp{
    max-width: 300px;
}


/* Split the screen in half */
.split {
    display: block;
    height: 100%;
    width: 50%;
  }
  
  /* Control the left side */
.left {
    float:left;
    width: 48%;
    margin:5px; 
}
  
/* Control the right side */
.right {
    float:right;
    width: 48%; 
    margin:5px; 
}


.youtubevid{
    margin-right: auto;
    margin-left: auto;
    display: block;
}



.spanswhole {
    width:100%; 
  }

/* Control the left side */
.leftless {
float: left;
width: 28%;
margin: 5px; }

/* Control the right side */
.rightmore {
float: right;
width: 66%;
margin: 5px; }

#pub_p {
align-self:center;
max-width: 300px; 
}

#pub_p_small {
align-self:center;
max-width: 250px; 
}