---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>

  {%- endif -%}

  {{ content }}

  <div id="maindiv">
    <div class="split left">
      <div>
        <img id="pp" src="https://drive.google.com/uc?id=1NgnT9U5abIh9mJh61bp6EO0NMsqOIWDP" />
      </div>
    </div>
    
    <div class="split right">
      <div>
        <p>Hi there! I'm Sena, a 3rd year PhD Candidate in EPFL <a href="http://cvlab.epfl.ch">CVLAB</a>, where I've been working on <a href="http://github.com/senakicir/activemocap">ActiveMoCap</a>. My undergraduate is from Bilkent University Electrical and Electronics Engineering. For our senior year project, we built <a href="https://youtu.be/drhxfhHwf9U">LaserLap</a>.</p>
        <div id="bloglink"><h3><a class="page-link" href="https://senakicir.github.io/misc">Misc</a></h3> </div>
        <!--<div id="bloglink"><h3><a class="page-link" href="https://senakicir.github.io/blog">Progress Blog</a></h3> </div>-->
        
      </div>
    </div>
  </div>
</div>
